{% load static %}
<html lang="en" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Author Meta -->
	<meta name="author" content="codepixer">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>إضافة فيديو</title>

	<!--
			Google Font
			============================================= -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,500,600" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500i" rel="stylesheet">

	<!--
			CSS
			============================================= -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/themify-icons/0.1.2/css/themify-icons.css">
	<link rel="stylesheet" href="{% static 'css/linearicons.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
	<link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
	<link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">

<style>
footer {
  position: relative;
  text-align: center;
  padding: 3px;
  background-color: Crimson;
  color: white;
}
</style>

</head>

<body>

	<!-- Start Header Area -->
	<header id="header">
		<div class="container">
			<div class="row align-items-center justify-content-between d-flex">
				<div id="logo">
					<a href="/index/"><h5 style="color: blue;">Web name</h5></a>
				</div>
				<nav id="nav-menu-container">
					<ul class="nav-menu">
						<li><form method="post">
							{% csrf_token %}
							<input value="تسجيل الخروج" type="submit" name="logout" class="button"/>
						</form></li>
						<li class="menu-active"><a href="/AddVd/">إضافة فيديو</a></li>
						<li><a href="/AddPl/">إنشاء دورة</a></li>
						<li><a href="/index/">الصفحة الرئيسية</a></li>
					</ul>
				</nav><!-- #nav-menu-container -->
			</div>
		</div>
	</header>
	<!-- End Header Area -->


	<!-- Start Banner Area -->
	<section class="home-banner-area relative">
        <div class="container">
			<div class="row fullscreen d-flex align-items-center justify-content-center">
				<div class="banner-content col-lg-8 col-md-12">
					<h1 class="wow fadeIn" data-wow-duration="4s">ستجد أفضل الدورات<br>في موقعنا</h1>
					<p class="text-white">
						أضف الفيديو الخاص بك وابدأ في تعليم الأشخاص.
					</p>

					<div class="input-wrap">
						<form method="post" enctype="multipart/form-data" action="" class="">
							{% csrf_token %}
							{{form}}
							<label class="label" for="video">إضغط هنا لتحميل الفيديو</label>
                            <br />
							<input type="text" placeholder="عنوان الفيديو" class="form-control" name="title" required>
                            <br />
                            :دورتك<select name="play" class="form-control" required>
								{% for item in select %}
                                <option>{{item}}</option>
								{% endfor %}
                            </select>
							:ترتيبه<select required class="form-control" name="rend">
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
								<option>6</option>
								<option>7</option>
								<option>8</option>
								<option>9</option>
								<option>10</option>
								<option>11</option>
								<option>12</option>
								<option>13</option>
								<option>14</option>
								<option>15</option>
								<option>16</option>
								<option>17</option>
								<option>18</option>
								<option>19</option>
								<option>20</option>
								<option>21</option>
								<option>22</option>
								<option>23</option>
								<option>24</option>
								<option>25</option>
								<option>26</option>
								<option>27</option>
								<option>28</option>
								<option>29</option>
								<option>30</option>
							</select>
							<button type="submit" class="btn search-btn">تحميل</button>
						</form>
                        <h2>{{msg}}</h2>
						<h2>{{se.id}}</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="rocket-img">
			<img src="{% static 'img/rocket.png' %}" alt="">
		</div>
	</section>
	<!-- End Banner Area -->

	<!-- ####################### Start Scroll to Top Area ####################### -->
	<div id="back-top">
		<a title="Go to Top" href="#"></a>
	</div>
	<!-- ####################### End Scroll to Top Area ####################### -->

	<footer>
		<p><a href="/" style="font-size: 22px; margin: 2px;">Web name</a>الحقوق محفوظة لدى </p>
	</footer>

	<script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	 crossorigin="anonymous"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
	<script src="{% static 'js/easing.min.js' %}"></script>
	<script src="{% static 'js/hoverIntent.js' %}"></script>
	<script src="{% static 'js/superfish.min.js' %}"></script>
	<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
	<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'js/owl-carousel-thumb.min.js' %}"></script>
	<script src="{% static 'js/jquery.sticky.js' %}"></script>
	<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
	<script src="{% static 'js/parallax.min.js' %}"></script>
	<script src="{% static 'js/waypoints.min.js' %}"></script>
	<script src="{% static 'js/wow.min.js' %}"></script>
	<script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>